<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="social-box">
    <div class="container">
     	<div class="row">
		    <div class="col-md-3" *ngFor="let footballer of liste_footballer">
				<div class="card-body">
					<img src={{footballer.image}} class="card-img-top" alt="">
					<div class="box-title">
						<h3 class="card-title text-secondary">{{footballer.nom}}</h3>
					</div>
          <div class="box-title">
						<h3 class="card-title text-secondary">{{footballer.team}}</h3>
					</div>
					<div class="box-text">
						<span></span>
					</div>
          <button class="box-btn btn-warning" (click)="like_footballer(footballer)">
            <i class="fa-solid fa-thumbs-up"></i>
            {{footballer.nbrLike}}
          </button>
				 </div>
    		</div>


	   </div>


   </div>
</div>
