<table class="table table-success table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>name</th>
      <th>price</th>
      <th>quantity</th>
      <th>nbLike</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let p of listProd">
      <th>{{p.id}}</th>
      <th>{{p.title}}</th>
      <th>{{p.price}}</th>
      <th>{{p.quantite}}</th>
      <th>{{p.nbrLike}}</th>
      <td>
        <button class="btn btn-sm btn-danger" (click)="suppProduct(prod)">
          delete
        </button>
        &nbsp;
        <button class="btn btn-sm btn-warning">
          update
        </button>
      </td>
    </tr>
  </tbody>

</table>
